* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.marco{
    padding-top: 2rem;
}

.count{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.countimg{
    height: 2.4rem;
    padding-bottom: 0.5rem;
}
.simb{
    display: flex;
    justify-content: center;
    align-items: center;
}
.simb button{
    border-style: none;
    background-color: transparent;
    justify-content: center;    
}

