* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.carta{
    padding-left: 2rem;
    margin: 0;
    padding-right: 2rem;
    border: 0.3rem #000000 solid;
    border-radius: 0.8rem;
    font-size: 2rem;
}
.carta img{
    width:100%;
}
.nombre{
    padding: 0;
    margin: 0;
    font-weight: 800;
}
.precio{
    padding: 0;
    margin: 0;
    font-weight: 600;
}
.stock{
    padding: 0;
    margin: 0;
    font-weight: 400;
}
.addcart{
    display:flex;
    justify-content: center;
    padding: 1rem;

}
.addcart button {
    background-color: #000000; /* Green */
    border: none;
    border-radius: 0.8rem;
    color: white;
    text-align: center;
    font-weight: 500;
    padding: 0.8rem;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    width: 50%;
  }
